.locationInfoContainer{
    position: absolute;
    top: 60px;
    margin: 5px;
    padding-left: 5px;
    padding-right: 10px;
    box-shadow: 0 0 15px black inset;
    width: 90%;
    height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.locationInfoTitle{
    text-shadow: 0 0 3px rgb(255, 255, 255);
    font-size: 30px;
    background-color: black;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    width: 280px;
}
.locationThumbnail{
    width: 270px;
}
.locationDescription{
    margin: 10px 3px 15px 3px;
    font-style: italic;
    font-size: large;
}

.gotToLocation{
    margin-bottom: 20px;
    width: 260px;
    background-color: rgb(58, 58, 58);
    padding: 5px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid rgb(156, 156, 156);
}
.gotToLocation:hover{
    background-color: rgb(155, 155, 155);

}

a {
    text-decoration: none;
}

a > .gotToLocation  {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}
