/* TODO Add site wide styles */
body{
    background-color: rgb(67, 67, 67);
    color: white;
    margin: 0;
}
h2 {
    margin: 20px 0;
    font-size: 33px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

.editShadowBox{
    box-shadow: 0 0 15px black inset;
}
